.footer__seo {
    display: flex;
    align-items: center;
    width: 50%;
}

.seo__img {
    width: 10vw;
    min-width: 100px;
    max-width: 150px;
}

.seo__img img {
    object-fit: contain;
    width: 100%;
}

.seo__text {
    flex: 2;
}

.seo__text h3,
.seo__text h4 {
    font-size: unset;
    line-height: initial;
    margin-bottom: 0;
}

.footer__social {
    width: clamp(15%, 5vw, 20%);
    gap: 0.5em;
    display: flex;
    height: 100%;
    min-height: 8vh;
    justify-content: space-around;
    align-items: center;
}

.footer__social h3 {
    font-size: var(--ft--lg);
}

.social__links {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
}

.social__links a {
    flex: 1;
    display: flex;
    align-items: center;
}

.social__link {
    width: clamp(42px, 5vw, 65%);
}

.social__link img {
    width: 100%;
    object-fit: contain;
}

@media (max-width: 40em) {
    footer {
        flex-direction: column;
    }
    .footer__seo {
        width: 100%;
    }
    .footer__social {
        width: 100%;
        align-items: center;
    }
    .footer__social * {
        justify-content: center;
    }
}